<h1>My Rails & FusionAuth App</h1>
<% if logged_in? %>
  Welcome <%= current_user["email"] %>.
  <br/><br/>
  Please proceed to do cool things!
  <br/><br/>
  <%= link_to 'Verify Your Address', verify_path %>
  <br/><br/>
  <%= link_to 'Log Out', controller: 'o_auth', action: :logout %>
<% else %>
  <p>Welcome!</p>
  <p>Please <%= link_to 'sign in', controller: 'o_auth', action: :login %> </p>
  <p>If you don't have an account, <%= link_to 'sign up', controller: 'o_auth', action: :register %> </p>
<% end %>

